html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}


/* Styles the whole slider */
.yearSlider{
  background-color: transparent;
  
  /* Removes some defaults */
  -webkit-appearance: none;
}


/* These styles affect what happens when the cursor is focused on the slider (i.e. clicking it) */
.yearSlider:focus {
  
  /* Stops the default outline showing up */
  outline: none;
}

/* This is the "track" that the slider sits on  */
.yearSlider::-webkit-slider-runnable-track {
  background-color: transparent;
  height: 30px;
  -webkit-appearance: none;
  
  /* Turns the cursor into the hand pointer icon when hovering over the slider  */
  cursor: pointer;
  
}

/* This is the moveable bit of the slider, known as the "thumb"*/
.yearSlider::-webkit-slider-thumb {
  width: 5px;
  height: 40px;
  background: #FFE174;
  cursor: pointer;
  -webkit-appearance: none;  
  /* Border radius gives rounded corners, if they're big enough, you end up with circles */
  border-radius: 90px;
  
}
